html {
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

.first {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #3f1622;
}

strong {
  font-weight: normal;
}

nav ol {
  line-height: 1.5;
  font-size: 1.125rem;
  color: #8f2440;
  list-style-type: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

aside ol {
  list-style-type: lower-greek;
  line-height: 1.5;
}

figcaption {
  text-align: center;
  line-height: 1.5;
  font-style: italic;
}

main {
  font-family: "PT Serif", serif;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

footer {
  font-size: .8rem;
  font-style: normal;
}

cite:last-child {
  font-size: .8rem;
  font-style: italic;
}

.firstdt {
  font-style: italic;
  float: left;
  clear: left;
  margin: 0;
  margin-top: 0;
}

.firstdd {
  font-style: italic;
  margin: 0 0 0 90px;
  padding: 0;
  white-space: pre;
}

dl > dt:not(.firstdt) {
  font-weight: bold;
  line-height: 1.5;
}

dl > dd:not(.firstdd) {
  line-height: 1.5;
}

ul {
  list-style-type: circle;
  line-height: 1.5;
}

a {
  color: #8f2440;
  line-height: 1.5;
  text-decoration: none;
}

p:last-of-type {
  font-weight: normal;
  line-height: 1.5;
}
