h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav ol{
  font-size: 1.125rem;
  color: #8f2440;
}

main {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

blockquote > p {
  font-style: italic;
  font-size: 1.5rem;
}

footer {
  font-size: 0.8rem;
  font-style: normal;
}

cite:last-of-type {
  font-size: 0.8rem;
  font-style: italic;
}
